*{
    background-color: none;
}

body {
    background-color: #f4f4f4;
}

/* CSS */
.containerCP {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCP {
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền của card với độ trong suốt */
    border-radius: 10px; /* Bo góc của card */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    padding: 20px;
}

.card-headerCP {
    background-color: #007bff; /* Màu nền của header */
    color: #fff; /* Màu chữ của header */
    border-top-left-radius: 10px; /* Bo góc trên bên trái của header */
    border-top-right-radius: 10px; /* Bo góc trên bên phải của header */
    padding: 10px;
    margin-bottom: 20px;
}

.card-titleCP {
    margin: 0;
}

.btn-primaryCP {
    background-color: #007bff; /* Màu nền của nút Đổi mật khẩu */
    border-color: #007bff; /* Màu viền của nút Đổi mật khẩu */
}

.btn-primaryCP:hover {
    background-color: #0056b3; /* Màu nền khi hover vào nút Đổi mật khẩu */
    border-color: #0056b3; /* Màu viền khi hover vào nút Đổi mật khẩu */
}

.btn-secondaryCP {
    background-color: #6c757d; /* Màu nền của nút Huỷ */
    border-color: #6c757d; /* Màu viền của nút Huỷ */
}

.btn-secondaryCP:hover {
    background-color: #5a6268; /* Màu nền khi hover vào nút Huỷ */
    border-color: #5a6268; /* Màu viền khi hover vào nút Huỷ */
}
