/* 
.bg-grey{
    background-color: #f6f6f6 ;
}

fix kich thuoc anh
.card-img-top{
    width: 270.22px;
    height: 284px;
}

.card {
  overflow: hidden;
  position: relative;
} */

/* fix kich thuoc anh */
.card-img-top{
   /* width: 270.22px;
    height: 155px; */
    background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover; /* Resize the background image to cover the entire container */
}

.card img {
  transition: transform 1.3s ease; /* Tạo hiệu ứng smooth */
}

.card:hover img {
  transform: scale(1.1); /* Thay đổi kích thước khi di chuột qua */
}


  */Ten dien thoai */
.card-title a{
	font-size: 25px;
	font-family: fantasy;
}

